*{
    margin: 0px;
    padding: 0px;
}


.flag{ height: 400px;
    width: 600px;
    background-color: rgb(153, 18, 18); 
    position: relative;
    margin: 0 auto;

} 


.cirel{ height: 150px;
    width: 150px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    
    top: 115px;
    left: 230px;
    z-index: 2;


    
}

.li{
    height: 170px;
    width: 600px;
    background-color: navy;
    margin-bottom: 100px;
    position: absolute;
    top: 105px;
    
}


.circel_text{
    text-align: center;
    position: relative;
    font-size:xx-large;
    font-family:'Times New Roman', Times, serif;
    font-size: 50px;
    

}

.flag_text{

    text-align: center;
    color: white;
    font-size: 50px;
    font-family:'Times New Roman', Times, serif;


}



        
    
    
    
    

        

    
    
        
        
    
     
    




    
   

